@tailwind base;
@tailwind components;
@tailwind utilities;
 



html,body,:root{
  height: 100%;
  overflow-y: auto;
}


body{

  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  background: url(/gradient-background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
   
 
          

}